art==6.5
astor==0.8.1
astpretty==3.0.0
astunparse==1.6.3
cb==1.0.7
datasets==3.5.1
Django==5.2
easyocr==1.7.2
fitz==0.0.1.dev2
huggingface_hub==0.30.2
matplotlib==3.10.1
nltk==3.9.1
numpy==2.2.5
openpyxl==3.1.5
pandas==2.2.3
Pillow==11.2.1
predictions==1.0.2
PyPDF2==3.0.1
pytest==8.3.5
python-dotenv==1.1.0
replit==4.1.1
reportlab==4.4.0
Requests==2.32.3
scikit_learn==1.6.1
sympy==1.14.0
transformers==4.51.3

